# ===============================
# Environment
# ===============================
.env
.env.*

# ===============================
# Node.js
# ===============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===============================
# Python
# ===============================
__pycache__/
*.pyc
.venv/
venv/

# ===============================
# Docker
# ===============================
postgres_data/
mongo_data/

# ===============================
# OS / IDE
# ===============================
.vscode/
.idea/
.DS_Store
Thumbs.db
